<h1><%= @title %></h1>

<div class="container">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Salesforce ID</th>
      <th>Date Created</th>
    </tr>
    <% @accounts.each do |group| %>
        <tr>
          <!-- TODO: Display what the groups matched on -->
          <th> SSN: <%= group[0][:ssn] %> </th>
        </tr>
        <% group.each do |account| %>
          <tr>
            <td><%= account[:name] %></td>
            <td><%= account[:birthday] %></td>
            <td><%= account[:sf_id] %></td>
            <td><%= account[:created_at] %></td>
          </tr>
        <% end %>
    <% end %>
  </table>
</div>
